/********************************************************** Slider **********************************************************/
.slick-prev {
	right: 100%;
    left: -25px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute!important;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
	left: 100%;
    right: -25px;
}

/********************************************************** Formulario **********************************************************/
.contacto_titulo {
	font-size: 25px;
	color: #e8b7d4;
}
input:not([type]), 
input[type="text"]:not(.browser-default), 
input[type="email"]:not(.browser-default), 
textarea {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}
input:not([type]):focus:not([readonly]), 
input[type="text"]:not(.browser-default):focus:not([readonly]), 
input[type="email"]:not(.browser-default):focus:not([readonly]), 
textarea:focus:not([readonly]) {
    border-bottom: 1px solid #33539e;
    -webkit-box-shadow: 0 1px 0 0 #33539e;
    box-shadow: 0 1px 0 0 #33539e;
}
input[type="text"],
input[type="email"] {
	width: 75%;
}
.parte_2 button{
	color: #fff;
	background-color: #33539e !important;
	appearance: none;
	cursor: pointer;
	text-transform: uppercase;
	white-space: normal;
	border: 0;
	border-radius: .125rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    padding: 12px 25px;
	font-size: 15px;
	display: inline-block;
	font-weight: 400;
	line-height: 1.5;
}
.custom-select {
	position: relative;
}
  
.custom-select select {
	display: none;
}
  
.select-selected {
	background-color: #33539e;
}
  
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}
  
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}
  
.select-items div,
.select-selected {
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}
  
.select-items {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	background-color: #33539e;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
.select-hide {
	display: none;
}
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/
	/*********Medidas*********/

}
@media (max-width: 767.9px) { /*SM-Solo*/

}
@media (min-width: 768px) { /*MD*/
	/*********Body*********/
	.contenido_neru_2 { 
		display: block;
	}
	/*********Formulario*********/
	.contacto_titulo {
		font-size: 35px;
	}
	.parte_1 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.parte_2 {
		flex: 0 0 50%;
		max-width: 50%;
	}
	.contenedor_form {
		position: relative;
		display: flex;
		flex-wrap: wrap;
	}
}
@media (min-width: 1280px) { /*LG*/
	/*********Body*********/
	.contenedor-titulo br {
		display: none;
	}
	/*********Formulario*********/
	.contacto_titulo {
		font-size: 35px;
	}
}