@charset "utf-8";
/* CSS Document */

/********************************************************* Fonts *********************************************************/
.text-header {
    font-size: 11px;
    margin-bottom: 10px;
    font-weight: bold;
}

/********************************************************* Body *********************************************************/
.contenedor {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.contenido {
    height: 100%;
    width: 100%;
    z-index: 3;
    position: relative;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.contenido p {
    color: #fff;

}
.contenedor-boton {
    position: absolute; 
    bottom: 20px; 
    width: 100%; 
    right: 0px;
}
.contenedor-boton div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}
.btn-ver {
    cursor: pointer;
    font-weight: bold;
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
    text-transform: uppercase;
    white-space: normal;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    padding: 10px 20px;
    font-size: 14px;
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/

}

@media (max-width: 767.9px) { /*SM-Solo*/

}

@media (min-width: 768px) { /*MD*/
    .text_title {
        font-size: 26px;
    }
    .text-header {
        font-size: 14px;
    }
}

@media (min-width: 1280px) { /*LG*/
    .text_title {
        font-size: 40px;
    }
    .text-header {
        font-size: 20px;
    }
}
