@charset "utf-8";
/* CSS Document */

/********************************************************* Body *********************************************************/
.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,0.125);
    border-radius: 8px;
}
.card img {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}
.card-body {
    flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-radius: 0 !important;
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/
    .card .text_title {
        font-size: 18px;
    }
}

@media (max-width: 767.9px) { /*SM-Solo*/

}

@media (min-width: 768px) { /*MD*/
    .card .text_title {
        font-size: 14px;
    }
}

@media (min-width: 1280px) { /*LG*/
    .card .text_title {
        font-size: 30px;
    }
}
