@charset "utf-8";
/* CSS Document */

/********************************************************** Slider **********************************************************/
.slick-prev {
	right: 100%;
    left: 0px;
}
.slick-prev, .slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute!important;
    top: 110%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-next {
	right: 100%;
    left: 25px;
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/

}

@media (max-width: 767.9px) { /*SM-Solo*/

}

@media (min-width: 768px) { /*MD*/

}

@media (min-width: 1280px) { /*LG*/

}
