@charset "utf-8";
/* CSS Document */

/********************************************************** Body **********************************************************/
.img_digital {
	transition: transform .4s linear;
	z-index: 1;
}
.img_digital:hover {
	transform: scale(1.05);
	z-index: 10;
}

/********************************************************** Footer **********************************************************/

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/

}

@media (max-width: 767.9px) { /*SM-Solo*/
}

@media (min-width: 768px) { /*MD*/
	/*********Body*********/
}

@media (min-width: 1280px) { /*LG*/

}
