@charset "utf-8";
/* CSS Document */

/********************************************************* Body *********************************************************/
.tarjeta {
    width: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-weight: 400;
    border: 0;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 8px;
}
.vista {
    z-index: 2;
    border-radius: .25rem;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    position: relative;
    overflow: hidden;
    cursor: default;
}
.vista img {
    position: relative;
    display: block;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
    border-style: none;
}
.tarteta-body {
    z-index: 3;
    margin-top: -20px;
    margin-right: 4%;
    margin-left: 4%;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    background: #fff;
    border-radius: 0 !important;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 24px;
}
.tarjeta-titulo {
    font-weight: 500;
    font-size: 14px;
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/

}

@media (max-width: 767.9px) { /*SM-Solo*/

}

@media (min-width: 768px) { /*MD*/

}

@media (min-width: 1280px) { /*LG*/

}
