@charset "utf-8";
/* CSS Document */

/********************************************************** Fonts **********************************************************/
.sansita {
	font-family: 'Sansita Swashed', cursive;
}
.monserrat {
	font-family: 'Montserrat', sans-serif;
}
.txt-blue-dark {
	color: #33539e!important;
}
.txt-blue-light {
	color: #7facd6!important;
}
.txt-gray {
	color: #bfb8da!important;
}
.txt-pink {
	color: #e8b7d4!important;
}
.txt-purple {
	color: #a5678e!important;
}
.txt-right {
	text-align: right!important;
}
.txt-left {
	text-align: left!important;
}
.txt-center {
	text-align: center!important;
}
.txt-justify {
	text-align: justify!important;
}
.text_title {
	color: #a5678e;
	font-size: 30px;
	font-weight: bold;
}
.p-text {
	line-height: 1.2;
	font-size: 12px;
	color: #000;
}
.text_subtitle{
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 5px;
}
a {
	text-decoration: none;
}
a:visited {
	color: none;
}

/********************************************************** Medidas **********************************************************/
.fila {
	position: relative;
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col-lg-1,.col-md-1,.col-1,.col-lg-2,.col-md-2,.col-2,.col-lg-3,.col-md-3,.col-3,.col-lg-4,.col-md-4,.col-4,.col-lg-5,.col-md-5,.col-5,.col-lg-6,.col-md-6,.col-6,.col-lg-7,.col-md-7,.col-7,.col-lg-8,.col-md-8,.col-8,.col-lg-9,.col-md-9,.col-9,.col-lg-10,.col-md-10,.col-10,.col-lg-11,.col-md-11,.col-11,.col-lg-12,.col-md-12,
.col-12 {
	position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.col-1 {
	-ms-flex: 0 0 8.333333%;
	flex: 0 0 8.333333%;
	max-width: 8.333333%;
}
.col-2 {
	-ms-flex: 0 0 16.666667%;
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}
.col-3 {
	-ms-flex: 0 0 25%;
	flex: 0 0 25%;
	max-width: 25%;
}
.col-4 {
	-ms-flex: 0 0 33.333333%;
	flex: 0 0 33.333333%;
	max-width: 33.333333%;
}
.col-5 {
	-ms-flex: 0 0 41.666667%;
	flex: 0 0 41.666667%;
	max-width: 41.666667%;
}
.col-6 {
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	max-width: 50%;
}
.col-7 {
	-ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col-8 {
	-ms-flex: 0 0 66.666667%;
	flex: 0 0 66.666667%;
	max-width: 66.666667%;
}
.col-9 {
	-ms-flex: 0 0 75%;
	flex: 0 0 75%;
	max-width: 75%;
}
.col-10 {
	-ms-flex: 0 0 83.333333%;
	flex: 0 0 83.333333%;
	max-width: 83.333333%;
}
.col-11 {
	-ms-flex: 0 0 91.666667%;
	flex: 0 0 91.666667%;
	max-width: 91.666667%;
}
.col-12 {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}
.w-100 {
	width: 100%!important;
}
.h-100 {
    height: 100% !important;
}

/********************************************************** Margenes **********************************************************/
.mx-1-5 {
	margin-left: 3px !important;
	margin-right: 3px !important;
}
.mx-1 {
	margin-left: 13px !important;
	margin-right: 13px !important;
}
.mb-1 {
	margin-bottom: 13px !important;
}
.mx-2 {
	margin-left: 26px !important;
	margin-right: 26px !important;
}
.mb-2 {
	margin-bottom: 26px !important;
}
.mx-3 {
	margin-left: 40px !important;
	margin-right: 40px !important;
}
.mb-3 {
	margin-bottom: 40px !important;
}
.mx-4 {
	margin-left: 80px !important;
	margin-right: 80px !important;
}
.mb-4 {
	margin-bottom: 80px !important;
}
.mt-4 {
	margin-top: 80px !important;
}
.mx-auto {
	margin-left: auto !important;
	margin-right: auto !important;
}

/********************************************************** Header **********************************************************/
.header {
	width: 100%;
	z-index: 10000;
}
.images_header .logo {
	flex: 0 0 24.666667%;
	max-width: 24.666667%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	overflow: hidden;
}
.images_header .logo img {
	width: calc(100% - 20px);
	height: auto;
}
.images_header .imagenheader {
	flex: 0 0 75.333333%;
	max-width: 75.333333%;
}
.images_header .imagenheader img {
	width: 100%;
	height: auto;
}

/********************************************************** Menu **********************************************************/
.menusito {
	width: 100px;
}
.menusito nav {
	transition: transform linear 0.3s;
	background-color: #f9f9f9;
}
.menusito nav.meter {
	transform: translateX(-100%);
}
.menusito nav.sacar {
	transform: translateX(0%);
}
#equis_cerrar {
	position: relative;
	left: 30px;
	top: -330px;
	width: 52%;
	height: auto;
}

/********************************************************** Body **********************************************************/
.container {
	position: relative;
	width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.d-block {
	display: block!important;
}
.d-none {
	display: none!important;
}
.super-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    overflow: hidden;
}

/********************************************************** Footer **********************************************************/
.footer {
	background-image: url(../../recursos/images/footer/bg-footer-2.png);
	padding-top: 40px;
	padding-bottom: 20px;
}
.contenedorsito {
	padding-left: 25px;
	padding-right: 25px;
	position: relative;
	flex-wrap: wrap;
	display: flex;
	align-items: center!important;
}
.contenedor-images_footer {
	flex: 0 0 50%;
	max-width: 50%;
}
.contenedor-redes {
	flex: 0 0 50%;
	max-width: 50%;
}
.contenedor-redes .redes {
	text-align: right !important;
}
.contenedor-redes .redes a {
	cursor: pointer;
}

/********************************************************* Resposivo *********************************************************/
@media (min-width: 320px) { /*SM*/
	.text_header {
		color: #fff;
	}
	/*********Menu*********/
	.header {
		margin-bottom: 16px;
	}
	#sacar_menu {
		display: block;
		transition: opacity linear 0.3s;
	}
	#sacar_menu.sacar {
		opacity: 1;
	}
	#sacar_menu.meter {
		opacity: 0;
	}
	.container,
	.footer,
	.images_header {
		transition: transform linear 0.3s;
	}
	.container.sacar,
	.footer.sacar,
	.images_header.sacar {
		transform: translateX(150px);
	}
	.container.meter,
	.footer.meter,
	.images_header.meter {
		transform: translateX(0);
	}
}

@media (max-width: 767.9px) { /*SM-Solo*/
	/*********Menu*********/
	.images_header .logo img {
		margin-left: 20px;
	}
	.menusito nav {
		position: fixed;
		background-color: #7facd6;
		height: 100vh;
		top: 0;
	}
	.menusito nav ul.menu {
		list-style-type: none;
		padding-top: 200px;
	}
	.menusito nav ul.menu li.botones {
		background-color: transparent;
		border-radius: 2px;
		display: list-item;
	}
	.menusito nav ul.menu li.botones a {
		height: 36px;
		padding-left: 20px;
		padding-right: 20px;
		display: block;
		font-size: 0.8rem;
		font-weight: 300;
		line-height: 36px;
		color: #fff;
	}
	.tiny_liny {
		width: 58%;
		height: 4px;
		background-color: #7facd6;
		align-content: center;
		border-collapse: collapse;
		align-self: center;
		float: left;
	}
	/*********Footer*********/
	.images_footer img{
		width: auto;
		height: 40px;
	}
	.redes img{
		width: auto;
		height: 20px;
	}
}

@media (min-width: 768px) { /*MD*/
	/*********Font*********/
	.text_title {
		font-size: 35px;
	}
	.p-text {
		font-size: 14px;
	}
	/*********Medidas*********/
	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	/*********Margenes*********/
	.mb-md-4 {
		margin-bottom: 80px !important;
	}
	.mb-md-2 {
		margin-bottom: 26px !important;
	}
	/*********Menu*********/
	#meter_menu {
		display: none;
	}
	.images_header .logo {
		flex: 0 0 18.666667%;
		max-width: 18.666667%;
	}
	.images_header .imagenheader {
		flex: 0 0 81.333333%;
		max-width: 81.333333%;
	}
	.images_header .logo img {
		width: 100%;
	}
	.header {
		margin-bottom: 80px;
	}
	#sacar_menu {
		display: none;
	}
	.menusito {
		width: 100%;
	}
	.menusito nav.meter {
		transform: translateX(0%);
	}
	.menusito nav.sacar {
		transform: translateX(0%);
	}
	.menu {
		margin-left: 25%;
		flex: 0 0 81.333333%;
		max-width: 81.333333%;
	}
	.botones {
		width: 25%;
		height: 30px;
		float: left;
	}
	.text_header {
		color: #7facd6;
		width: 100%;
		height: 35px;
		font-style: normal;
		font-weight: 400;
		float: left;
		font-size: 20px;
		margin-top: 10px;
		text-align: center;
		display: flex;
	}
	.text_header:hover {
		width: 100%;
		height: 35px;
		font-style: normal;
		font-weight: 400;
		float: left;
		font-size: 21px;
		margin-top: 10px;
		text-align: center;
		display: flex;
		color: #7facd6;
	}
	.tiny_liny {
		width: 58%;
		height: 4px;
		background-color: #e8b7d4;
		align-content: center;
		border-collapse: collapse;
		align-self: center;
		float: left;
	}
	/*********Body*********/
	.d-md-block {
		display: block!important;
	}
	.d-md-none {
		display: none!important;
	}
	/*********Footer*********/
	.footer {
		background-image: url(../../recursos/images/footer/bg-footer.png);
	}
}

@media (min-width: 1280px) { /*LG*/
	/*********Font*********/
	.text_title {
		font-size: 40px;
	}
	.p-text {
		font-size: 16px;
	}
	/*********Margenes*********/
	.mt-lg-4 {
		margin-top: 80px !important;
	}
	/*********Medidas*********/
	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}
	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}
	.col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}
	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}
	.col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}
	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}
	.col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}
	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}
	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}
	.col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}
	/*********Menu*********/
	#sacar_menu {
		display: none;
	}
	.text_header {
		font-size: 25px;
	}
	.text_header:hover {
		font-size: 26px;
	}
	/*********Body*********/
	.d-lg-block {
		display: block!important;
	}
	.d-lg-none {
		display: none!important;
	}
}
